/* You should probably replace this with your own CSS */

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
