.container {
    background: lightblue;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png')
            39 39,
        auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    margin-right: auto;
}
.testing {
    display: flex;
    position: relative;
    margin-right: 260px;
}

.deck {
    position: absolute;
    width: 300px;
    height: 250px;
    will-change: transform;
    display: flex;
    margin-top: 75px;
    margin-right: 1000px;
    align-items: center;
    justify-content: center;
    touch-action: none;
    color: black;
}
.deck img {
    /* give designated section for the images to populate while centering in the card*/
    width: 100%;
    margin: auto;
}

.deck > div {
    background-color: rgb(242, 148, 219);
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;

    width: 50vh;
    max-width: 300px;
    height: 100vh;
    max-height: 560px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
        0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.deck button {
    margin: 15px;
}

.deck .info--card {
    /* allows the information to be at the lowest point of the card */
    position: relative;
    bottom: 0;
}

.deck .dislike {
    background-color: #ea5353;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.deck .like {
    /* makes the button be a heart */
    background-color: rgb(194, 242, 198);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
